{%extends "base.html"%}
{% load staticfiles %}

{% block styles %}

  <style>
      body {
        border-top: 4px solid #333;
        /*min-height: 5000px;*/
        /*min-width: 5000px;*/
        background: url('{% static "img/iphoneback.jpg" %}') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: conver;
        background-size: cover;
        /*background-image: url('{% static "img/beach.jpg" %}');*/
        /*background-image:url('https://lh4.googleusercontent.com/-FsgMNhfQLSg/AAAAAAAAAAI/AAAAAAAAaRY/3VnF3vSuWKk/photo.jpg');*/
        /*background-repeat: repeat-x;*/
      }
    </style>

{% endblock %}

{%block content%}

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron" style='background-color:white;'>
      <div class="container">
        <div class='col-sm-6'>
          <h1>Launch with Code</h1>
          <p>Si tratta di un modello per una semplice vendita o un sito web informativo. Esso comprende un grande richiamo chiamato jumbotron e tre pezzi di supporto di contenuti. Usarlo come un punto di partenza per creare qualcosa di più unico.</p>
          <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
        </div>
        <div class='col-sm-6'>
          <img src="{% static 'img/iphone.png' %}" class='img-responsive' />
          </div>
        </div>
    </div>


<div class= 'container' style='text-align:center';>
     <h1 style="color: #FAFCFB">Join the Revolution</h1>
    
    <div class="col-sm-6 col-sm-offset-3">
        <form class="horizontal"method="POST" action=""> {% csrf_token %}
            <div class="form-group form-group-lg">
            {% if form.email.errors %}
                {% for err in form.email.errors %}
            <div class="alert alert-warning" role="alert">{{ err }}</div>
                {% endfor %}
            {% endif %}
<!--        {{form.as_p}}-->
        <div class="input-group">
            <input class="form-control" type="email" name="email" placeholder="Your email..."/ >
            <span class="input-group-btn">
            <input type='submit' value='Join' class='btn btn-primary btn-lg'/>
            </span>
        </div>
            </div>
    </div>
</form>
</div>

<div class='row' style='text-align:center;background-color:white;margin: 80px 0px;min-height:200px;'>
  <div class='col-sm-12'>
  <h1>Hello</h1>
  </div>
</div>
{%endblock%}