{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
{% include "navbar.html" %}

<!-- <nav class="navbar navbar-inverse" style='margin-bottom: 0px; border-radius: 0px'>
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand">Launch With Code</a>
        </div>
      </div>
    </nav> -->

  <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
      <div class='row'>
        <div class='col-md-6 pull-right' style="text-align:center;">
          <i class="fa fa-share-alt fa-5x"></i>
          <h1>Invite Friends &amp; Earn Rewards</h1>
          <p>Share your unique link below via Email, Facebook, Twitter, Reddit, or LinkedIn to earn rewards from LaunchWithCode.com</p>
          <div class="well" style='background-color:white;'>{{ ref_url }}</div>
        </div>
        <div class='col-md-6 pull-left'>
          <img src="{% static 'img/launch.jpg' %}" class='img-responsive img-rounded' />
          </div>
          </div>
      </div>
    </div>


<div class='container'>


{{ ref_id }} <br/>

{{ count }}<br/>

{{ ref_url }}<br/>


</div>
{% endblock %}